@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>


    

<html>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<body>
    <div class="container-fluid" style="padding:0 !important;">
        <div class="first-slide">

        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="container">
        <div class="row">

            <span id="userName" style="display:none">@UserManager.GetUserName(User)</span>


            <div id="productContainer">
                @foreach (var product in ViewBag.Products)
                {
                    <div class="col-md-3 col-xs-6 col-sm-3">
                        <div class="card">
                            <img class="card-img-top" src="@product.ProductImage">
                            <div class="card-body">
                                <p class="card-text">@product.ProductName</p>
                                <h5 class="card-price">@product.ProductPrice lei</h5>
                                <button class="add-cart-button btn btn-warning btn-final" onclick="AddToCart('@product.ProductName', @product.ProductPrice)">Add To Cart</button>
                            </div>

                        </div>
                    </div>
                }
            </div>


            @*<div class="col-md-3 col-xs-6 col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="@product.ProductImage" >
                    <div class="card-body">
                        <p class="card-text">@product.ProductName</p>
                        <h5 class="card-price">@product.ProductPrice</h5>
                <button class="add-cart-button btn btn-warning" onclick="AddToCart('@product.ProductName', @product.ProductPrice)">Add To Cart</button>

            </div>

                        <a href="#" id="test1" class="btn btn-primary" onclick="AddProduct('@product.ProductName', @product.ProductPrice)"><i class="fas fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>






            <div class="col-md-3 col-xs-6 col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="~/images/Produse/Procesoare/2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Procesor Intel Kaby Lake, Core i5 7400 3GHz box</p>
                        <h5 class="card-price">775<sup>.99 RON</sup></h5>
                        <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="~/images/Produse/Procesoare/3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Procesor Intel Coffee Lake, Core i7 8700K 3.70GHz box</p>
                        <h5 class="card-price">1583<sup>.99 RON</sup></h5>
                        <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="~/images/Produse/Procesoare/4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Procesor Intel Coffee Lake, Core i5 8400 2.80GHz box</p>
                        <h5 class="card-price">776<sup>.99 RON</sup></h5>
                        <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
        </div>*@

        </div>
                </div>
</body>
</html>
